<div class="row">
  <div class="col-md-12">
    <div class="form-search-person cnt-min-height">
      <div *ngIf="(startAssessment$ | async) as assessmentDetails">
        <div *ngIf="assessmentDetails.length!==0" class="box-grid-header">
          <h3>Intake Assessments
          </h3>
          <div class="col-md-12">
            <div class="form-search-person">
              <div class="form-letter-tab form-align">
                <div class="table-responsive">
                  <table class="table table-bordered icon-action">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Last Modified Date</th>
                        <th>Target</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let assessment of assessmentDetails">
                        <td>
                          <span class="tr-brd-red" *ngIf="assessment.assessment?.assessmentstatustypekey == 'Open' || assessment.assessment==null"></span>
                          <span class="tr-brd-orange" *ngIf="assessment.assessment?.assessmentstatustypekey == 'InProcess'"></span>
                          <span class="tr-brd-green" *ngIf="assessment.assessment?.assessmentstatustypekey == 'Submitted'"></span>
                          {{assessment.titleheadertext}}
                        </td>
                        <td>{{assessment.assessment?.updatedon | date: 'MM/dd/yyyy'}}</td>
                        <td>{{assessment.target}}</td>
                        <td>
                          <a *ngIf="assessment.assessment?.assessmentstatustypekey == 'Open' || assessment.assessment==null" data-toggle="modal" data-target="#iframe-popup"
                            data-placement="top" title="start" data-original-title="Start" (click)="startAssessment(assessment)">
                            <img src="assets/images/assess-start.png">
                          </a>
                          <a *ngIf="assessment.assessment?.assessmentstatustypekey == 'InProcess'" data-toggle="modal" data-target="#iframe-popup"
                            data-placement="top" title="InProcess" data-original-title="InProcess" (click)="editAssessment(assessment)">
                            <img src="assets/images/form-letter/edit-icon.png">
                          </a>
                          <a *ngIf="assessment.assessment?.assessmentstatustypekey !== 'Open' && assessment.assessment!=null && assessment.assessment?.assessmentstatustypekey !== 'InProcess'"
                            data-toggle="modal" data-target="#iframe-popup" title="View" data-placement="top" data-original-title="View"
                            (click)="submittedAssessment(assessment)">
                            <i class="fa fa-eye fa-size" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div *ngIf="{startAssessment: startAssessment$ | async, totalRecords: totalRecords$ | async} as validatePagination">
                    <pagination *ngIf="validatePagination.startAssessment && validatePagination.startAssessment?.length !== 0" [totalItems]="validatePagination.totalRecords"
                      [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                      [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal modal-iframe" id="iframe-popup" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeAssessment()">×</button>
        <h4 class="modal-title">{{assessmmentName ? assessmmentName: 'N/A'}}</h4>
      </div>
      <div class="modal-body">
        <iframe [src]="safeUrl" frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>