<div [formGroup]="dispositionFormGroup" class="box-grid form-control-size" style="margin-bottom: 75px;">
  <div class="row textLeft">
  </div>
  <div action="" class="big-top-space">
    <div class="row textLeft dd-overflow-inherit">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4 bot-mspace-15">
            <label for="" class="required"> Status </label>
          </div>
          <div class="col-sm-7 bot-mspace-15">
            <mat-form-field>
              <mat-select placeholder="Select Status" formControlName="intakeserreqstatustypekey" (change)="onChangeTaskStatus($event.value); changeDisp()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let status of statusDropdownItems$ | async" value="{{status.value}}">{{status.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 bot-mspace-15">
            <label for="" class="required"> Disposition/Recommendation </label>
          </div>
          <div class="col-sm-7 bot-mspace-15">
            <mat-form-field>
              <mat-select placeholder="Select Disposition" formControlName="dispositioncode" (change)="changeDisp()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let status of dispositionDropDown" value="{{status.value}}">{{status.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 bot-mspace-15">
            <label for="" class="required"> Comments </label>
          </div>
          <div class="col-sm-7 bot-mspace-15 no-placeholder">
            <mat-form-field>
              <textarea type="text" formControlName="comments" matInput placeholder="Leave a Comment" (change)="changeDisp()"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="supervisorUser && showReason">
          <div class="col-sm-4 bot-mspace-15">
            <label for="" class="required"> Reason For Delay </label>
          </div>
          <div class="col-sm-7 bot-mspace-15 no-placeholder">
            <mat-form-field>
              <textarea type="text" formControlName="reason" matInput placeholder="Leave a Reason" (change)="changeDisp()"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="supervisorUser">
        <ul class="list-unstyled list-inline pull-right text-left">
          <li>
            <div class="hour">
              <span class="digit">{{calculatedTime ? calculatedTime.split(':')[0] : 0}}</span>
              <p>Hours</p>
            </div>
          </li>
          <li>
            <div class="hour">
              <span class="digit">{{calculatedTime ? calculatedTime.split(':')[1] : 00}}</span>
              <p>Minutes</p>
            </div>
          </li>
          <li>
            <div class="hour">
              <span class="digit">{{calculatedTime ? calculatedTime.split(':')[2] : 00}}</span>
              <p>Seconds</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>