<form id="Disposition" class="tab-pane" role="tabpanel" [formGroup]="dispositionFormGroup">
  <div class="box-grid form-control-size" style="margin-bottom: 75px;">
    <div class="row textLeft">
      <div class="col-sm-3">
        <label for="" class="bot-mspace"> Status Change Date </label>
        <input type="text" formControlName="statusdate" disabled a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
      </div>
      <div class="col-sm-3">
        <label for="" class="bot-mspace"> Due Date </label>
        <input type="text" formControlName="duedate" disabled disabled a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
      </div>
      <div class="col-sm-3">
        <label for="" class="bot-mspace"> Completion Date </label>
        <input type="text" formControlName="completiondate" disabled disabled a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
      </div>
      <div class="col-sm-3">
        <label for="" class="bot-mspace"> Seen WithIn </label>
        <input type="text" formControlName="seenwithin" disabled a2e-datetimepicker [options]="{format: 'MM/DD/YYYY'}">
      </div>
    </div>
    <div action="" class="big-top-space">
      <div class="row textLeft dd-overflow-inherit">
        <div class="col-md-6 col-lg-4 ">
          <div class="row">
            <div class="col-sm-4 bot-mspace-15">
              <label for="" class=""> Initial Date Seen </label>
            </div>
            <div class="col-sm-8 bot-mspace-15">
              <div class=" clsIntake fm-box-form dpnew">
                <input type="text" class="form-control" a2e-datetimepicker [options]="{format: 'MM/DD/YYYY', minDate: null,useCurrent:false}"
                  formControlName="dateseen">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 bot-mspace-15">
              <label for="" class="required"> Status </label>
            </div>
            <div class="col-sm-8 bot-mspace-15">
              <ng-select formControlName="statusid" [searchable]="true" [clearable]="false" (change)="onChangeTaskStatus($event.value,$event.label)">
                <ng-option value="">- Select -</ng-option>
                <ng-option *ngFor="let status of statusDropdownItems$ | async" [value]="status.value">{{status.text}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 bot-mspace-15">
              <label for="" class="required"> Disposition </label>
            </div>
            <div class="col-sm-8 bot-mspace-15">
              <ng-select formControlName="dispositionid" [searchable]="true" [clearable]="false">
                <ng-option value="">- Select -</ng-option>
                <ng-option *ngFor="let status of dispositionDropdownItems$ | async" [value]="status.value">{{status.text}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-lg-offset-1" style="display:none">
          <div class="invest-type">
            <h4 class=""> Investigation Type </h4>
            <label class="control control--checkbox">
              Financial
              <input type="checkbox" formControlName="financial" disabled>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">
              EDL
              <input type="checkbox" formControlName="edl" disabled>
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">
              Joint Investigation v
              <input type="checkbox" formControlName="jointinvestigation" disabled>
              <div class="control__indicator"></div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>