.form-control-size label {
    font-size: 14px;
}
.digit {
    background: #039be6;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
}
.disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
}
.hideDiv {
    display: none;
}
