body {
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
}
.backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

#slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left {
    width: 50%;
    height: 100%;
    background: #2c3034;
    left: 0;
    position: absolute;
}

.right {
    width: 50%;
    height: 100%;
    background: #ffffff;
    right: 0;
    position: absolute;
}

.login-content {
    width: 400px;
    position: absolute;
    left: calc(50% - 200px);
    right: 0;
    top: calc(35% - 220px);
    font-size: 16px;
}
.login-content img {
    max-width: 100%;
}
.login-content h2,
.login-content h4 {
    font-weight: bold;
    color: #4a4a4a;
}
.login-content input.form-control,
.login-content .control--checkbox {
    font-size: 16px;
}
.login-content .btn-block {
    margin-top: 15px;
}
.mar-btm-40 {
    margin-bottom: 40px;
}
.mar-btm-20 {
    margin-bottom: 20px;
}
.form-group{position: relative;}
.form-group .fa-eye{position: absolute;
  right: 15px;
  top: 12px;
  color: #000;
  font-size: 20px;
  cursor: pointer;}
  .form-control, input:focus, input:hover{border:0 !important;border-bottom: 1px solid #ccc !important;box-shadow:none;}
  .login-content input.form-control{padding: 8px 12px 8px 0;}