<div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="right">
            <div class="login-content">
                <img src="../../../assets/images/dhslogo.png" alt="logo">
                <h2 class="mar-btm-20">WELCOME </h2>
                <h4 class="mar-btm-40">LOGIN PORTAL</h4>
                <form (ngSubmit)="login(user)" novalidate>
                    <div class="mar-btm-40">
                        <input type="email" class="form-control fm-l-style" placeholder="email" [(ngModel)]="user.email" name="email" required>
                    </div>
                    <div class="mar-btm-20 form-group">
                        <input type="password" #showhideinput class="form-control fm-l-style" placeholder="password" [(ngModel)]="user.password"
                            name="password" required>
                        <i class="fa fa-eye" aria-hidden="true" (click)="toggleShow()"></i>
                    </div>
                    <div class="mar-btm-20">
                        <label class="control control--checkbox">
                            REMEMBER ME
                            <input type="checkbox">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <button type="submit" class="btn-pri btn-block">Login</button>
                    <a href="javascript:;" class="btn-link btn-block">FORGOT PASSWORD?</a>
                </form>
            </div>
        </div>
        <div class="left">
        </div>
    </div>
</div>