.header-img {
    height: 80px;
    margin: 20px;
}

.header-address {
      margin: 20px;
    text-align: right;
    font-weight: bold;
}

.hr-border {
    border-bottom: 2px solid red;
    clear: both;
  margin: 20px;
}
.signature {
    font-style: italic;
    font-size: 12px;
}
.align-center {
   text-align: center
}