<div class="container-fluid">
  <form [formGroup]="departmentActionIntakeFormGroup">
    <section class="intake-nstyle record-intake">
      <div>
        <h3 class="pad-top20">RECORD CONTACT</h3>
        <div class="row form-wrapper pad-top20">
          <div class="col-sm-12">
            <input formcontrolname="IntakeNumber" type="hidden">
            <ul class="list-unstyled list-inline">
              <li>
                <label *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('CONTACT NUMBER')">Contact Number
                </label>
                <label *ngIf="roleId && roleId.role.name != 'superuser'">Contact Number
                </label>
                <span *ngIf="generalResource && generalResource.length >= 1 && generalResource[0]?.helptext.length!=0">
                  <sup>
                    <i data-toggle="tooltip" data-placement="top" title="{{generalResource[0]?.helptext}}" class="fa fa-question-circle"></i>
                  </sup>
                </span>
                <p>{{ departmentActionIntakeFormGroup.get('IntakeNumber').value }}</p>
              </li>
              <li>
                <label *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('CREATED DATE')">Created Date</label>
                <label *ngIf="roleId && roleId.role.name != 'superuser'">Created Date</label>
                <span *ngIf="generalResource && generalResource.length >= 2 && generalResource[1]?.helptext.length!=0">
                  <sup>
                    <i data-toggle="tooltip" data-placement="top" title="{{generalResource[1]?.helptext}}" class="fa fa-question-circle"></i>
                  </sup>
                </span>
                <p>{{ departmentActionIntakeFormGroup.get('CreatedDate').value | date:'MM/dd/yyyy - h:mm a'}}</p>
              </li>
              <li>
                <label>Author</label>
                <p>{{ departmentActionIntakeFormGroup.get('Author').value | uppercase }}</p>
              </li>


            </ul>
            <ul class="list-unstyled list-inline">

              <li style="display:none">
                <div class="form-group">
                  <label class="required">Source</label>
                  <div class="select-icon cus-select-width">
                    <ng-select [searchable]="true" [clearable]="false" formControlName="Source" class="select-source">
                      <ng-option value=""> Select </ng-option>
                      <ng-option *ngFor="let item of intakeSourceList$ | async" [value]="item.value">{{item.text}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required" *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('COMMUNICATION')">Communication</label>
                  <label class="required" *ngIf="roleId && roleId.role.name != 'superuser'">Communication</label>
                  <span *ngIf="generalResource && generalResource.length >= 3 && generalResource[2]?.helptext.length!=0">
                    <sup>
                      <i data-toggle="tooltip" data-placement="top" title="{{generalResource[2]?.helptext}}" class="fa fa-question-circle"></i>
                    </sup>
                  </span>
                  <div class="select-icon cus-select-width">
                    <ng-select [searchable]="true" [clearable]="false" formControlName="InputSource" class="select-source">
                      <ng-option value=""> Select </ng-option>
                      <ng-option *ngFor="let item of intakeCommunication$ | async" [value]="item.value">{{item.text}}</ng-option>
                    </ng-select>

                  </div>
                </div>
              </li>
              <li style="width:20%;">
                <div class="form-group">
                  <label class="control control--checkbox disp-inline">
                    <input type="checkbox" formControlName="isOtherAgency" (change)="changeOtherAgency($event)">
                    <div class="control__indicator"></div>
                    Request From Other Agency
                  </label>
                  <div class="m-t-5">
                    <input type="text" class="form-control" formControlName="otheragency" maxlength="50">
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required" *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('AGENCY')">Agency</label>
                  <label class="required" *ngIf="roleId && roleId.role.name != 'superuser'">Agency</label>
                  <span *ngIf="generalResource && generalResource.length >= 4 && generalResource[3]?.helptext.length!=0">
                    <sup>
                      <i data-toggle="tooltip" data-placement="top" title="{{generalResource[3]?.helptext}}" class="fa fa-question-circle"></i>
                    </sup>
                  </span>
                  <div class="select-icon cus-select-width">
                    <ng-select [searchable]="true" [clearable]="false" formControlName="Agency" (change)="listPurpose($event)" class="select-source">
                      <ng-option value="all"> All of these </ng-option>
                      <ng-option *ngFor="let item of intakeAgencies$ | async" [value]="item.value">
                        <b>{{item.value}}</b> - {{(item.text.length > 25)? (item.text| slice:0:25) + '...' : item.text}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required" *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('PURPOSE')">Purpose</label>
                  <label class="required" *ngIf="roleId && roleId.role.name != 'superuser'">Purpose</label>
                  <span *ngIf="generalResource && generalResource.length >= 5 && generalResource[4]?.helptext.length!=0">
                    <sup>
                      <i data-toggle="tooltip" data-placement="top" title="{{generalResource[4]?.helptext}}" class="fa fa-question-circle"></i>
                    </sup>
                  </span>
                  <div class="select-icon cus-select-width">
                    <ng-select [searchable]="true" [clearable]="false" formControlName="Purpose" (change)="listService($event)" class="select-source">
                      <ng-option value=""> Select </ng-option>
                      <ng-option *ngFor="let item of intakePurpose$ | async" [value]="item.value">{{item.text}}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required" *ngIf="roleId && roleId.role.name === 'superuser'" (click)="showResourcePopup('RECEIVED DATE')">Received Date</label>
                  <label class="required" *ngIf="roleId && roleId.role.name != 'superuser'">Received Date</label>
                  <span *ngIf="generalResource && generalResource.length >= 6 && generalResource[5]?.helptext.length!=0">
                    <sup>
                      <i data-toggle="tooltip" data-placement="top" title="{{generalResource[5]?.helptext}}" class="fa fa-question-circle"></i>
                    </sup>
                  </span>
                  <div class="no-pad clsIntake dpnew fm-box-form dd-overflow-inherit" style="width: 180px;">
                    <input class="form-control" formControlName="RecivedDate" placeholder="MM/DD/YYYY" a2e-datetimepicker [options]="{ 'maxDate': null}"
                    />
                    <i class=" fa fa-calendar" aria-hidden="True"></i>
                  </div>
                  <small class="text-danger" *ngIf="departmentActionIntakeFormGroup.controls['RecivedDate'].errors?.maxDate">You cannot enter a date in the future!</small>
                  <control-messages [control]="departmentActionIntakeFormGroup.controls['RecivedDate']"></control-messages>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="expand-sec list-wrap" *ngIf="itnakeServiceGrid">
      <ul class="list-unstyled list-inline">
        <li *ngFor="let item of intakeServices$ | async">
          <label class="control control--checkbox">
            {{item.description}}
            <input type="checkbox" [checked]="isSelectedItems(item)" formControlName="IntakeService" (click)="selectService($event, item)">
            <div class="control__indicator"></div>
          </label>
        </li>
      </ul>
    </section>
    <div class="intake no-pad">
      <div class="tab-horizontal">
        <ul class="nav nav-pills click-triggers">
          <li class="active">
            <a data-toggle="tab" data-target="#narrative">NARRATIVE</a>
          </li>
          <li>
            <a data-toggle="tab" data-target="#Persons-Involved">Persons Involved</a>
          </li>
          <li *ngIf='djsSelected'>
            <a data-toggle="tab" data-target="#Evaluation-Fields">EVALUATION FIELDS</a>
          </li>
          <li>
            <a data-toggle="tab">Entities</a>
          </li>
          <li *ngIf='!djsSelected'>
            <a data-toggle="tab">Service/Sub-type</a>
          </li>
          <li *ngIf='djsSelected'>
            <a data-toggle="tab" data-target="#complaints-type">Complaints-type</a>
          </li>
          <li>
            <a data-toggle="tab" data-target="#intake-assessment">Assessments</a>
          </li>
          <li>
            <a data-toggle="tab">Cross Reference</a>
          </li>
          <li>
            <a data-toggle="tab">Communications</a>
          </li>
          <li>
            <a data-toggle="tab" data-target="#attachments">Attachments</a>
          </li>
          <li>
            <a data-toggle="tab" data-target="#intake-disposition">Disposition</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="narrative">
            <newintake-narrative [intakeNumberNarrative]="intakeNumberNarrative" [narrativeInputSubject$]="narrativeInputSubject$" [narrativeOutputSubject$]="narrativeOutputSubject$"
              [draftId]="draftId" [finalNarrativeText$]="finalNarrativeText$"></newintake-narrative>
            <div class="row">
              <div class="col-sm-12 nextprev-btn">
                <div class="pull-right">
                  <button class="btn btn-link btnNext" data-toggle="tab" data-target="#Persons-Involved">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Persons-Involved">
            <intake-persons-involved [intakeNumberNarrative]="intakeNumberNarrative" [addedPersons]="addedPersons"></intake-persons-involved>
            <div class="row">
              <div class="col-sm-12 nextprev-btn">
                <div class="pull-right">
                  <button class="btn btn-link btnPrevious" data-toggle="tab" data-target="#narrative">Previous</button>
                  <!-- <button class="btn btn-link" data-toggle="tab" href="attachments">Next</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Evaluation-Fields">
            <intake-evaluation-fields [evalFieldsInputSubject$]="evalFieldsInputSubject$" [evalFieldsOutputSubject$]="evalFieldsOutputSubject$"></intake-evaluation-fields>
            <div class="row">
              <div class="col-sm-12 nextprev-btn">
                <div class="pull-right">
                  <button class="btn btn-link btnPrevious" data-toggle="tab" data-target="#Persons-Involved">Previous</button>
                  <!-- <button class="btn btn-link" data-toggle="tab" href="attachments">Next</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="complaints-type">
            <intake-complaint-type [purposeInputSubject$]="purposeInputSubject$" [createdCaseInputSubject$]="createdCaseInputSubject$"
              [createdCaseOuptputSubject$]="createdCaseOuptputSubject$"></intake-complaint-type>
            <div class="row">
              <div class="col-sm-12 nextprev-btn">
                <div class="pull-right">
                  <button class="btn btn-link btnPrevious" data-toggle="tab" data-target="#Persons-Involved">Previous</button>
                  <!-- <button class="btn btn-link" data-toggle="tab" href="attachments">Next</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Entities">
            <intake-entities></intake-entities>
          </div>
          <div class="tab-pane" id="intake-assessment">
            <intake-assessment [addedIntakeDATypeSubject$]="addedIntakeDATypeSubject$" [addedIntakeDATypeDetails]="addedIntakeDATypeDetails"
              [intakeNumber]="intakeNumber" [agencyCodeSubject$]="agencyCodeSubject$"></intake-assessment>
          </div>
          <div class="tab-pane" id="attachments">
            <intake-attachments [addAttachementSubject$]="addAttachementSubject$"></intake-attachments>
            <div class="row ">
              <div class="col-sm-12 nextprev-btn">
                <div class="pull-right">
                  <button class="btn btn-link btnPrevious" data-toggle="tab" href="#Persons-Involved">Previous</button>
                  <!-- <button class="btn btn-link" data-toggle="tab" href="#narrative">Next</button> -->
                  <!-- <button class="btn-pri">Submit</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="intake-disposition">
            <intake-disposition [timeReceived$]="timeReceived$" [dispositionInput$]="dispositionInput$" [dispositionOutPut$]="dispositionOutPut$"
              [dispositionRetrive$]="dispositionRetrive$"></intake-disposition>
          </div>
          <div class="tab-pane" id="Service">
            <div class="cnt-min-height">
              <h3>We use css to change the background color of the content to be equal to the tab</h3>
            </div>
          </div>
        </div>
      </div>
      <span class="save-drop-btn">
        <button *ngIf="!saveIntakeBtn" class="btn btn-pri" (click)="draftIntake(departmentActionIntakeFormGroup.value, 'DRAFT')">{{btnDraft === true ? 'Update Draft' : 'Save as Draft'}}</button>
        <button class="btn btn-pri" (click)="submitIntake(departmentActionIntakeFormGroup.value, 'INTR')">{{saveIntakeBtn === true ? 'Save & Complete' : 'Submit for Review'}}</button>
      </span>
    </div>

  </form>
</div>

<!-- modal -->
<div class="modal fade custom-modal" [formGroup]="generalResourceFormGroup" id="save-edit-resource-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"> {{resourcePoplabel}} </h4>
      </div>
      <div class="modal-body">
        <textarea formControlName="helpDescription" class="form-control h-150"></textarea>
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="submitResource(resourcePoplabel)"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="intake-complaint-pdf1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="pdf-header-id" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h4 class="modal-title">PDF preview</h4>
      </div>
      <div class="modal-body">
        <div class="text-right big-bot-space right-mspace-15">
          <button type="button" class="btn-pri" (click)="collectivePdfCreator()" [disabled]="downloadInProgress"> Download </button>
        </div>
        <pdf-peace-order-appeal-letter [persons]="addedPersons" [general]="general" [evalFields]="evalFields"></pdf-peace-order-appeal-letter>
      </div>
    </div>