
    .pdf-page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
      }
      .sizeA4 {  
        width: 21cm;
        height: 29.7cm; 
      }
    
      .pdf-page .row{
    margin-left: 0px;
    margin-right: 0px;
      }
    
      .margin-wrapper {
          margin-left: 1.2cm;
          margin-right: 1.2cm;
      }
    
      .download-btn {
        cursor: pointer;
      }
    
      .header-img {
          height: 80px;
          margin: 20px;
      }
    
      .header-address {
            margin: 20px;
          text-align: right;
          font-weight: bold;
      }
    
      .hr-border {
          border-bottom: 2px solid red;
          clear: both;
        margin: 20px;
      }
      .signature {
          font-style: italic;
          font-size: 12px;
      }
     .align-center {
         text-align: center
     }
     .title {
         font-weight: bold;
         margin-top: 20px;
     }
     
     .red-bullet {
        height: 8px;
        width: 8px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 2px 2px 2px 2px grey
     }
    
     .page-top-margin {
         margin-top:60px;
     }
    
     .signature-border {
         border-bottom: 1px solid black;
     }
    
     .footer-icon {
         font-size: 35px;
         font-weight: bold;
     }