.add-address-header .table>thead:first-child>tr:first-child>th{border-right: 1px
    solid #ccc;}
    
    
    
    
    .casestop-sec{border:1px solid #ccc; position: relative;
    font-size: 16px; line-height: 26px;}
    
    .casestop-sec ul{margin: 0;}
    
    .casestop-sec li{padding:10px 20px; border-right: 1px solid
    #ccc;}
    
    .actionicons{position: absolute; right: 10px; bottom:calc(50%
    - 13px); }
    
    
    
    
    .casestop-sec .fa-pencil:before, .casestop-sec .fa-trash:before{font-size: 22px; padding-left: 10px;}
    
    .cases_alegation{background: #efefef; padding: 20px;}
    
    .cases_alegation-inner{border: 1px solid #ccc; background: #fff;}
    
    .cases_alegation-top{font-size: 15px; padding: 15px; border-bottom: 1px
    solid #ccc; }
    
    .cases_alegation-content{padding: 15px; position: relative;}
    
    .cases_alegation-content .actionicons{position: absolute; top: 10px; right: 10px;
    font-size: 22px;}
    
    .bold{font-weight: 600;}
