<div id="cjams-pdf">
<div class="pdf-page sizeA4">
  <header class="header">
    <div class="pull-left">
      <img src="assets/images/pdf/header.png" class="header-img">
    </div>
    <div class="pull-right">
      <div class="header-address">
        Headquarters
        <br> 120 West Fayetee Street
        <br> Baltimore, Maryland 21201
      </div>
    </div>
    <div class="hr-border"></div>
    <div class="row signature">
      <div class="col-sm-4 align-center">
        Boyd K. Rutherford
        <br> Lt. Governor

      </div>
      <div class="col-sm-4 align-center">
        Larry Hogan
        <br> Governor

      </div>
      <div class="col-sm-4 align-center">
        Sam Abed
        <br> Secretary

      </div>
    </div>

  </header>
  <div class="margin-wrapper">
  <div class="row title">
    <div class="align-center">
      PEACE ORDER DECISION/APPEAL LETTER
    </div>
  </div>
  <div class="header-info">
    <div class="row ">
      <div class="col-sm-4 col-sm-offset-8">
        Date:
        <span class="date-value"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        Victim Name:
        <span class="Victim-name"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        Victim Address:
        <span class="victime-address"></span>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-offset-8 col-sm-4">
        Re:
        <span class="re-value"></span>
      </div>

    </div>
  </div>
  <div class="body-content">
    <div class="row salutation col-sm-12">
      <p>Dear </p>
    </div>
    <div class="row content col-sm-12">
      <p>
          I have reviewed the facts concerning the Peace Order Complaint filed with the Department of Juvenile Services.
      </p>
      <p>
          __I have decided not to authorize the filing of the Complaint with the Juvenile Court and will be closing the complaint at intake. 
      </p>
      <p>
          __ I have decided to forward the Complaint to the Juvenile Court for petitioning
      </p>
      <br>
      <p>
          If you disagree with this decision and wish to appeal, you must complete the form provided below and send it to the Regional Director so that it is received by    -  -  .
      </p>
      <br>
      <p>
          If you have any questions or want to discuss this case with me before making a decision on whether to appeal, please call me at (  )   -    .  If you do this, however, it will not extend the period within which you are allowed to ask for a review of the decision.
      </p>
    </div>
    <div class="row ">
      <div class="col-sm-offset-8 col-sm-4">
        Sincerely,
      </div>
    </div>
    <br>
    <br>
 
      <div class="row ">
          <div class="col-sm-offset-8 col-sm-4">
              Worker Name 
          </div>
        </div>
        <div class="row ">
            <div class="col-sm-offset-8 col-sm-4">
                Intake Officer
            </div>
          </div>
          <div class="row ">
              <div class="col-sm-4">
                  Enclosure
              </div>
            </div>
    

  </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<footer>
    <div class="row footer ">
      <div class="col-sm-12 align-center">
    <p>410-230-3333   /   Toll Free: 1-888-639-7499   /   TDD: 1-800-735-2258</p>
   <p> Treating Children    &nbsp;<span class="red-bullet"></span> &nbsp;    Supporting Families       &nbsp;  <span class="red-bullet"></span>   &nbsp;       Protecting Communities</p>
    </div>
    </div>

</footer>

</div>
<div class="pdf-page sizeA4" >
    <header class="header">
        <div class="pull-left">
          <img src="assets/images/pdf/header.png" class="header-img">
        </div>
        <div class="pull-right">
          <div class="header-address">
            Headquarters
            <br> 120 West Fayetee Street
            <br> Baltimore, Maryland 21201
          </div>
        </div>
        <div class="hr-border"></div>
        <div class="row signature">
          <div class="col-sm-4 align-center">
            Boyd K. Rutherford
            <br> Lt. Governor
    
          </div>
          <div class="col-sm-4 align-center">
            Larry Hogan
            <br> Governor
    
          </div>
          <div class="col-sm-4 align-center">
            Sam Abed
            <br> Secretary
    
          </div>
        </div>
    
      </header>
</div>
</div>
<div class="download-btn btn btn-default" (click)="downloadPDF()">
  Download
</div>